%main.form-signin.w-100.m-auto
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = image_tag('logo.png', class:'mb-4', :width => "300" )
    %h1.h3.mb-3.fw-normal
      = t('sign_up.signup')
    .form-floating
      = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: t('login.email'), class:'form-control'
      = label_tag :email, t('login.email')
    .form-floating
      = f.password_field :password, autocomplete: "current-password", placeholder: t('login.password'), class:'form-control'
      = label_tag :password, t('login.password')
    .form-floating
      = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: t('login.password'), class:'form-control'
      = label_tag :password_confirmation, t('sign_up.confirm_password')
    .form-floating
      = f.text_field :username, class: 'form-control', required: true, placeholder: t('sign_up.username')
      = label_tag :username, t('sign_up.username')
    .form-floating
      = f.text_field :name, class: 'form-control', required: true, placeholder: t('sign_up.name')
      = label_tag :name, t('sign_up.name')
    .checkbox.mb-3
      %label
        %input{:type => "checkbox", :value => "remember-me"}/
        = t('login.remember_me')
    = f.submit t('sign_up.signup'), class:"w-100 btn btn-lg btn-primary"
    = render "users/shared/links"
    %p.mt-5.mb-3.text-muted © 2017–2023